<p id="notice"><%= notice %></p>

<p>
  <strong>Classname:</strong>
  <%= @gg_classlist.classname %>
</p>

<%= link_to 'Edit', edit_gg_classlist_path(@gg_classlist) %> |
<%= link_to 'Back', gg_classlists_path %>
